# IDE specific files
.idea/
.vscode/

# Cache and language server files
.cache/
.clangd/

# Build artifacts
build/
cmake-build-*/
*.o
*.a
*.so
*.dll
*.exe

# Other common files
compile_commands.json
*.user
.vs/
third_party/*
